@import "react-loading-skeleton/dist/skeleton.css";
@import "react-phone-input-2/lib/style.css";
@import "react-advanced-cropper/dist/style.css";
@import "tailwindcss";

:root {
  --yp-primary: #ffffff;
  --yp-secondary: #f9fafb;
  --yp-tertiary: #f9f9f9;
  --yp-input-primary: #ffffff;
  --yp-text-primary: #111827;
  --yp-text-secondary: #1f2937;
  --yp-main-emphasis: #000963;
  --yp-main: #3b82f6;
  --yp-main-subtle: #dbeafe;
  --yp-blog-heading: #000963;
  --yp-border-primary: #e7e7e7;
  --yp-blog-heading: #000963;
  --yp-muted: #4b5563;
  --yp-success-subtle: #d1fae5;
  --yp-success: #22c55e;
  --yp-success-emphasis: #065f46;
  --yp-danger-subtle: #fee2e2;
  --yp-danger: #eb3535;
  --yp-danger-emphasis: #991b1b;
  --yp-blue-subtle: #e0f2fe;
  --yp-blue: #3b82f6;
  --yp-blue-emphasis: #1e3a8a;
  --yp-warning-subtle: #fef3c7;
  --yp-warning: #f59e0b;
  --yp-warning-emphasis: #92400e;
  --yp-gray-subtle: #f3f4f6;
  --yp-gray: #6b7280;
  --yp-gray-emphasis: #111827;
}

[data-theme="dark"] {
  --yp-primary: #1f2937;
  --yp-secondary: #111827;
  --yp-tertiary: #374151;
  --yp-input-primary: #111827;
  --yp-text-primary: #ffffff;
  --yp-text-secondary: #f9fafb;
  --yp-main-emphasis: #212870;
  --yp-main: #3b82f6;
  --yp-main-subtle: #dbeafe;
  --yp-blog-heading: #000963;
  --yp-border-primary: #374151;
  --yp-blog-heading: #96a0ff;
  --yp-muted: #9ca3af;
  --yp-success-subtle: #d1fae5;
  --yp-success: #22c55e;
  --yp-success-emphasis: #065f46;
  --yp-danger-subtle: #fee2e2;
  --yp-danger: #eb3535;
  --yp-danger-emphasis: #991b1b;
  --yp-blue-subtle: #e0f2fe;
  --yp-blue: #3b82f6;
  --yp-blue-emphasis: #1e3a8a;
  --yp-warning-subtle: #fef3c7;
  --yp-warning: #f59e0b;
  --yp-warning-emphasis: #92400e;
  --yp-gray-subtle: #f3f4f6;
  --yp-gray: #6b7280;
  --yp-gray-emphasis: #111827;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

button:disabled,
input:disabled,
select:disabled {
  opacity: 60 !important;
  cursor: not-allowed !important;
}
